.gameLibrary {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;}

.game {
    padding: 1rem;
    border: 1px solid #333;
    border-radius: 0.6rem;
    background-color: #eee;}